@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction: column; /* Menyusun elemen secara vertikal */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Ysabeau SC", serif;
}

.main {
    font-size: 29px;
    color: white;
    padding: 20px;
    text-align: center;
}

.sec {
    font-size: 26px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 0; /* Menghapus margin atas blockquote bawaan */
    font-style: italic; /* Memberi gaya italic khas kutipan */
}
