@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    font-size: 29px;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: "Ysabeau SC", serif;
}