@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Ysabeau SC", serif;
}

.main {
    font-size: 29px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    width: fit-content;
}

.sec {
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 0;
    font-style: italic;
    max-width: 60%; /* Tambahkan ini untuk membatasi lebar */
    line-height: 1.5; /* Tambahkan ini untuk spasi yang lebih nyaman */
}

@media (max-width: 600px) {
    .main {
        font-size: 18px; 
    }
    .sec {
        font-size: 16px;
        max-width: 90%; /* Sesuaikan untuk perangkat kecil */
    }
}
